<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola mundo</title>
</head>
<body>
    <h1>
        Hola mundo
    </h1>
    <p>
        El nombre del profesor es {{nombre}}
        y el apellido es {{apellido}}
    </p>
    <p>
        La fecha actual es {{fecha.day}}/{{fecha.month}}/{{fecha.year}}
    </p>
    <p>
        <strong>
            Temas del curso:
        </strong>
    </p>
    <ul>
        {% if temas %}
            {% for elTema in temas %}
                <li>{{elTema}}</li>
            {% endfor %}
        {% else %}
            <p>No hay elementos que mostrar</p>
        {% endif %}
    </ul>
</body>
</html>